@media (max-width: 900px){
header{
    .nav-bar{
        section{
            div{
                ul{
                    gap: 0.4rem;
                    li{
                        a{
                            font-size: 1.2rem;
                        }
                    }
                }
            }
        }
    }
}
main{
    background-image:none;
    background-color: $backg-secundario;
    .section-container{
        h1{
            font-size: 2.5rem;
        }
        h2{
            font-size: 2.2rem;
        }
        .seguinos-redes{
            img{
                height: 3.5rem;
            }
        }
    }
}
footer{
    .footer-section{
        div{
            p{
                font-size: 1.1rem;
                font-weight: 600;
            }
        }
    }
}
.card {
    width: 14rem;
    height: 30rem;
    img{
        width: 100%;
        height: 18rem;
    }
    div{
        width: 100%;
        height: 15rem;
    }
}
}