@media (max-width: 1024px){
.nav-bar{
    section{
        div{
            ul{
                li{
                    a{
                        font-size: 1.5rem;
                    }
                }
            }
        }
    }
    div{
        .buscador{
            img{
                height: 2.5rem;
                width: auto;
            }
        }
        .cart{
            padding: 0.2rem;
            img{
                height: 2.5rem;
                width: auto;
            }
        }
    }
}
main{
    .section-container{
        .destacados{
            gap: 0.5rem;
        }
    }
}
}