/**COLORES*/
$color-principal: rgb(255, 255, 255);
$color-secundario: #7D2FF6;
$color-sombras: #64007E;
$color-variante: rgb(131, 1, 1);
$color-texto: rgb(0,0,0);
$backg-principal: rgb(0,0,0);
$backg-secundario: rgb(235, 235, 235);
$efectocard1: #65007e7e;
$degrade-uno: rgb(252, 235, 252);
$degrade-dos: rgba(61, 61, 61, 0.507);
$degrade-tres: #7f2ff681;
$degrade-cuatro: #65007e88;

/*OTROS*/
