footer{
    width: 100%;
    @include flex(column, nowrap, center, center, none);
    background-color: $backg-principal;
    padding: 0.75rem 3rem;
    margin: 0;
    .footer-section{
        width: 100%;
        max-width: 75rem;
        @include flex(row, nowrap, space-between, start, none);
        padding: 0.2rem;
        margin: 0.5rem 0;
        div{
            width: 100%;
            @include flex(column, nowrap, start, start, .2rem);
            @include pad;
            p{
                @include text(1.5rem, bold, left, none, $color-principal);
                @include pad;
            }
            ul{
                @include flex(column, nowrap, start, start, .2rem);
                @include pad;
                li{
                    list-style: none;
                    a{
                        @include text(1rem, 600, left, none, $color-principal);
                        @include pad;
                    }
                }
            }
            .medios-pago{
                width: 100%;
                @include flex(row, wrap, start, start, 0.5rem);
                @include pad;
                li{
                    list-style: none;
                    img{
                        height: 3rem;
                        @include pad;
                    }
                }
            }
            .contacto{
                @include flex(row, wrap, start, start, 0.5rem);
                padding: 0.2rem;
                margin: 0;
                li{
                    list-style: none;
                    a{
                        img{
                            height: 3rem;
                            padding: 0 0.5rem;
                            margin: 5px 0;
                        }
                    }
                }
            }
        }
    }
    .footer-copy{
        @include flex(row, wrap, center, center, .2rem);
        padding: 0.2rem;
        margin: 0.5rem 0;
        p{
            @include text(1rem, 400, left, none, $color-principal);
        }
    }
}